*,
*::after,
*::before{
    box-sizing: border-box;;
}
html {
    scroll-behavior: smooth; /* свойство scroll-behavior не наследуется, применяется к прокручиваемым блокам */ 
  }

body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #131313;
}

.head__table{

    padding-top: 50px;

}

.table{
    margin-bottom: 100px;
}

.main{
    height:100vh;
    background: url('/holodnaya-rechka-2.jpg')no-repeat;
    background-size: cover;
    position: relative;
}

.main:before{
    content:'';
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    background: rgba(0,0,0,.4);

}

/* header menu */

.log__text{
   
    background-size: cover;
    
    
}

.logo__img{
   margin-left: 20px;
}

h1, p{
    text-align:200px;
}

.menu__list li{
    display: inline-block;
}

.menu__list li a{
 display: flex;
 color:azure;
 opacity: 0.6;
 text-decoration: none;

 
}


/* aнимация кнопки */






/*  */

header{
 display: flex;
 justify-content: space-between;
 
}

/* .menu__list{
   display:flex;
} */



.menu__link{
    text-transform: uppercase;
    
    
   
}

.menu__link:hover{
    background-color:aliceblue;
    color:darkblue;
   
}
.col-sm-8{
    color:beige;
    text-shadow: 2px 2px 2px #000;

}

.tr{
    font-size: 16px;
}

ul{
    list-style:none;
    margin:0;
    padding: 20px;
}

a{
    font-size: 20px;
    padding: 10px;
    color:#222;
    
}


/*        */




.center{
    position: relative;
    top:50%;
    transform: translateY(-50%);
    color: white ;
    margin-top: -100px;
    
}

.formWrapper{
    background:#fff;
    color:#222;
    padding: 20px 10px;
    background-image: linear-gradient(to left, rgb(157, 248, 255), rgb(155, 155, 255) );

}

.conteiner-fluid{
    max-width:1920px;
    margin: 0 auto;
    padding:0 10px;


}

.description__room{

padding-top: 40px;

}
.collection__item{
    position:relative;
    padding: 12px;
    display: inline-block;
    justify-content: space-between;
}

.title__room{
    text-align: center;
}



/* анамиция видео */



.new-collection{

    background-color:beige;
}

/*  */


.table{
    text-align: center;
    background:rgb(145, 232, 247);
    color : black;
    border: solid rgb(128, 187, 255) ;
    border-radius: 20px;
}

.head__table{
    text-align: center;
}


/* 
о нас */

.description__us{
    text-align : center; 
    padding-top: 50px;
    padding-bottom: 50px;


}

.about__us{
    background-color:ivory;
}