*,
*::after,
*::before{
    box-sizing: border-box;;
}
html {
    scroll-behavior: smooth; /* свойство scroll-behavior не наследуется, применяется к прокручиваемым блокам */ 
  }

body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #131313;
    background:#FFF0F5;
}

.head__table{

    padding-top: 50px;

}

.table{
    margin-bottom: 100px;
}

.main{
    height:100vh;
    background: url('/holodnaya-rechka-2.jpg')no-repeat;
    background-size: cover;
    position: relative;
}

.main:before{
    content:'';
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    background: rgba(0,0,0,.4);

}

/* header menu */

.log__text{
   
    background-size: cover;
    
    
}

.logo__img{
   margin-left: 20px;
}

h1, p{
    text-align:200px;
}

.menu__list li{
    display: inline-block;
}

.menu__list li a{
 display: flex;
 color:azure;
 opacity: 0.6;
 text-decoration: none;

 
}


/* aнимация кнопки */






/*  */

header{
 display: flex;
 justify-content: space-between;
 
}

/* .menu__list{
   display:flex;
} */



.menu__link{
    text-transform: uppercase;
    
    
   
}

.menu__link:hover{
    background-color:aliceblue;
    color:darkblue;
   
}
.col-sm-8{
    color:beige;
    text-shadow: 2px 2px 2px #000; 
    
}

.col-sm-8 h1 {
    font-size: 50px;
}
.col-sm-8 p{
    font-size:21px
}

.tr{
    font-size: 14px;
}

ul{
    list-style:none;
    margin:0;
    padding: 20px;
}

a{
    font-size: 20px;
    padding: 10px;
    color:#222;
    
}


/*        */




.center{
    position: relative;
    top:50%;
    transform: translateY(-50%);
    color: white ;
    margin-top: -100px;
    
}

.formWrapper{
    background:#fff;
    color:#222;
    padding: 20px 10px;
    /* background-image: linear-gradient(to left, rgb(157, 248, 255), rgb(155, 155, 255) ); */
    background-image: linear-gradient(to right ,#c7e0e3, #9ae7db, #c3d6fa, #bee5ff, #b6f6ff);
    border-radius: 20px;
   
    
}

.conteiner-fluid{
    max-width:1920px;
    margin: 0 auto;
    padding:0 10px;


}


/* tittle room text */

.title__room{

    background: #FCF2E5;
    padding: 50px 20px;
    text-align: center;

}

.title__room h3 {
    font-family: 'Merriweather', serif;
    position: relative;
    color: #FCF2E5;
    background: #BC8F8F;
    font-size: 2.5em;
    font-weight: normal;
    padding: 10px 40px;
    display: inline-block;
    margin: 0;
    line-height: 1;
  }

  .title__room h3:before {
    content: ""; 
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -15px;
    background: #BC8F8F;
  }
  .title__room h3:after {
    content: ""; 
    position: absolute;
    height: 0;
    width: 80%;
    border-top: 10px solid #BC8F8F;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    left: 50%;
    transform: translateX(-50%);
    bottom: -25px;
  }
  @media (max-width: 500px) {
    .title__room h3 {font-size: 1.8em;}
  }
  @media (max-width: 400px) {
    .title__room h3 {
      font-size: 1.5em;
      padding: 10px 30px;
    }
  }

  .description__room{

    padding-top: 30px;
   
  }
  .description__room h4 {
    display: table;
    width: auto;
    margin: 15px auto;
    letter-spacing: 2px;
  }
  .description__room h4:before {
    content: "";
    position: absolute;
    top: -50%;
    left: -25px;
    width: 30px;
    height: 20px;
    border-top: 2px solid #fed57b;
    border-left: 2px solid #fed57b;
  }
  .description__room h4:after {
    content: "";
    position: absolute;
    bottom: -50%;
    right: -25px;
    width: 30px;
    height: 20px;
    border-bottom: 2px solid #fed57b;
    border-right: 2px solid #fed57b;
  }

/*     */


.collection__item{
    position:relative;
    padding: 12px;
    display: inline-block;
    justify-content: space-between;
}

.title__room{
    text-align: center;
}



/* анамиция видео */



.new-collection{

    background-color:beige;
}

/*  */


.table{
    text-align: center;
   background-color:#E6E6FA;
    color : black;
    border: solid rgb(150, 144, 177) ;
    border-radius: 10px;
 
}



.head__table{
    text-align: center;
}


/* 
о нас */

.description__us{
    text-align : center; 
    padding-top: 50px;
    padding-bottom: 50px;


}

.about__us{
    background-color:ivory;
}


/* стили для футера */

footer{
   
    background-color:darkgray;
    border-top: 2px solid silver;
    margin-top: 10px;
    text-align: center;


}
.map{
  

    align-self:center;
}

.icon{
    width: 50px;
    height: 50px;
}
.icon-t{
    width: 28px;
    height: 28px;
    
}

.offer__slider{/*положение слайдера*/
    position: relative;
    text-align: center;
    top: 10px;
}

.offer__slider{/* центровка слайдера*/
    margin: 0 auto;
    padding-bottom: 100px;
}
.wrapper__video{
    float: left;
    width: 50%;
 
}

video{
    /* float: left; */
    margin-top: 75px;
    width: 550px;height:600px;object-fit:cover

}
/* .offer__slider-prev{margin-right:10px;display: block;}
.offer__slider-next{margin-left:10px;cursor:pointer} */
.offer__slider-counter{display:flex;width:180px;align-items:center;font-size:24px;color:rgba(0,0,0,.5)}

.offer__slide img{width: 550px;height:600px;object-fit:cover}
.offer__slider #current{font-size:48px;font-weight:700;color:#000}
 .offer__slider-wrapper{width:100%;margin-top:15px;box-shadow:0 4px 30px rgba(0,0,0,.25)} 
  /* .offer__slide{width:100%;height:390px}   */
.offer__slider{width:650px;margin-top:50px;display:flex;flex-direction:column;align-items:flex-end}

/* стоимость номеров */
.head__table {
 
    background:#FFF0F5;
    padding: 50px 20px;
    text-align: center;
  }
  .head__table h1 {
    font-family: 'Righteous', cursive;
    position: relative;
    color: #7B68EE; 
    display: inline-block;
    border-top: 2px solid;
    border-bottom: 2px solid;
    font-size: 3em;
    padding: 9px 50px;
    margin: 0; 
    line-height: 1;
  }
  .head__table h1:before, .head__table h1:after {
    content: ""; 
    position: absolute;
    top: 0;
    width: 30px;
    height: 100%;
    /* border-left: 2px solid;
    border-right: 2px solid; */
    /* background: repeating-linear-gradient(180deg, transparent, transparent 2px, #3CA1D9 2px, #3CA1D9 4px); */
  }
  .head__table h1:before {left: 0;}
  .head__table h1:after {right: 0;}

  @media (max-width: 320px) {
    .head__table h1 {font-size: 2em;}
  }
 
  table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    border-radius: 10px;
    border-spacing: 0;
    text-align: center;
    
    
    }

table th, td{
    background-image: linear-gradient(to right ,#dad2f7, #fff8fe, #defbfc, #f8e2fc, #e6d2fa);
}
.container__table{

    margin-bottom: 100px;
    background:#FFF0F5;
}


/*  */

/* BUTTON */

.btn1 {
    display: inline-block; 
    box-sizing: border-box;
    padding: 0 25px;
    margin: 0 15px 15px 0;
    outline: none;
    border: 1px solid #fff;
    border-radius: 20px;
    height: 46px;
    line-height: 46px;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: #444;
    background-color: #fff;
    box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
    cursor: pointer;
    user-select: none;
    appearance: none;
    touch-action: manipulation; 
    vertical-align: top;
    transition: box-shadow 0.2s;
    
}
.btn1:focus-visible {
    border: 1px solid #4c51f9;
    outline: none;
}
.btn1:hover {
    transition: all 0.2s;
    box-shadow: 0 7px 14px rgb(65 132 144 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
}
.btn1:active {
    background-color: #808080;
}
.btn1:disabled {
    background-color: #eee;
    border-color: #eee;
    color: #444;
    cursor: not-allowed;
}


/* form style */

/* обнуление */

/* стили демонстрации */



/* Слайдер */
.slick-slider{
   
}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}

/* Лента слайдов */
.slick-track{
    display: flex;

   
}

/* Слайд */
.slick-slide{}
/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slick-arrow{}
/* Стрелка влево */
.slick-arrow.slick-prev{}
/* Стрелка вправо */
.slick-arrow.slick-next{}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}

/* Точки (булиты) */
.slider .slick-dots{
    display: flex;
    align-items:center;
    justify-content:center;
}
.slider .slick-dots li{
    list-style: none;
    margin: 0px 10px ;

}

/* Активная точка */
.slick-dots li.slick-active{}

/* Элемент точки */
.slider .slick-dots button{

font-size:0;
width:10px;
height: 10px;
background-color:#E6E6FA;
border:0;
border-radius:50%;

}

/* конкретный слайдер*/
.slider{

    position: relative;
    padding: 0px 50px;
   
}
.slider .slick-arrow{
    
    position: absolute;
    top:50%;
    margin: -30px 0px 0px 0px;
    z-index:10;
    font-size:0;
    width: 100px;
    height: 500px;
    outline:0;
} 
.slider .slick-arrow.slick-prev{
    left:0;
    
    background: url('/иконки/left_back_arrow_5821.png') 0 0 / 100% no-repeat;
    border:0;
    opacity: .3;
    
}
.slider .slick-arrow.slick-next{

    right: 0;
    background: url('/иконки/right_next.png') 0 0 / 100% no-repeat;
    border:0;
    opacity: .3;
}


.slider__item{
    display: flex;
    justify-content: center; /* Горизонтальное выравнивание по центру */
    align-items: center;
}

.slider__item img{
    max-width: 100%; /* Изменяем максимальную ширину изображения на 100%, чтобы она могла растягиваться на всю ширину экрана мобильного устройства */
    height: auto; 
    display: flex;
    justify-content: center; /* Горизонтальное выравнивание по центру */
    align-items: center; /* Вертикальное выравнивание по центру */
    height: 100vh; 
  
  
}

  .slide-image {
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
  }

/* описание о нас */

.title__us {
    background:#E6E6FA;
    padding: 50px 20px;
    text-align: center;
   
  } 
  .title__us h2 {
    font-family: 'Merriweather', serif;
    position: relative;
    color:#444;
    font-size: 50px;
    font-weight: normal;
    padding: 8px 20px 7px 20px;
    border-top: 4px solid;
    border-left: 4px solid;
    display: inline-block;
    margin: 0;
    line-height: 1;
  }
  .title__us h2:before {
    content: ""; 
    position: absolute;
    width: 28px;
    height: 28px;
    top: -28px;
    left: -28px;
    border: 4px solid #7B68EE;
    box-sizing: border-box;
  }
  @media (max-width: 450px) {
    .title__us h2 {font-size: 36px;}
    .title__us h2:before {
      width: 20px;
      height: 20px;
      top: -20px;
      left: -20px;
    }
  }



